{{ define "main" }}

<div class="post">   

<div class="post__content">
<h1>{{ upper .Title }}</h1>

<h2>Professional</h2>

{{ $key := .Site.Data.milestones.professional }}
{{ $t := slice }}
{{ range $k, $v := $key }}
  {{ $t = $t | append $k}}
{{ end }}
{{ $t = sort $t "" "desc" }}

{{ range $i := $t}}
<h3 class="year">{{ $i }}</h3>
  <ul class="milestones card-holder">
  {{ range (index $key $i) }}
    <li class="milestone">
      <div class="card">
        <div class="card-header">
          <div class="card-title">{{.title}}</div>
          
        </div>
        <div class="card-text">
          {{- .description | markdownify -}}
        </div>
        <div class="card-footer">
          {{ if .roles }}
          <span class="small">My roles: {{ range .roles }}<span class="pill">{{.}}</span>{{end}}</span>
          {{ end }}
        </div>
      </div>
    </li>
  {{ end }}  
  </ul>
{{ end }}

<h2>Personal</h2>
{{ $key := .Site.Data.milestones.private }}
{{ $t := slice }}
{{ range $k, $v := $key }}
  {{ $t = $t | append $k}}
{{ end }}
{{ $t = sort $t "" "desc" }}


{{ range $i := $t}}
<h3 class="year">{{ $i }}</h3>
  <ul class="milestones card-holder">
  {{ range (index $key $i) }}
    <li class="milestone">
      <div class="card">
        <div class="card-header">
          <div class="card-title">
            {{ if .type }}{{.type}}: {{ end }}{{.title}}
          </div>
        </div>
        <div class="card-text">
          {{- .description | markdownify -}}
        </div>
        <div class="card-footer">
          <span class="small">Project duration: <span class="pill">{{ .from }}{{ if .till}}-{{.till}} {{ end }}</span></span>
          {{ if .roles }}
          <span class="small">My roles: {{ range .roles }}<span class="pill">{{.}}</span>{{end}}</span>
          {{ end }}       
        </div>
      </div>
    </li>
  {{ end }}  
  </ul>
{{ end }}

</div>
</div>
{{ end }}
